.header-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 9vw;
  width: 100%;

  .title-wrapper {
    flex: 1;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .utils-wrapper {
    margin-top: 2.2rem;
  }

  .app-player-wrapper {
    flex: 0;
    margin-top: -1rem;
  }
}
