<div *ngIf="className === 'small'; else elseBlock">
  <mat-toolbar>
    <mat-toolbar-row>
      <button
        mat-icon-button
        aria-label="Main menu icon"
        (click)="handleMainMenuClick()"
      >
        <mat-icon name="mainMenuIcon">menu</mat-icon>
      </button>
      <div class="title-wrapper" [routerLink]="['/main/settings']">
        <span i18n>GM Helper</span>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="app-player-wrapper">
        <app-audio-player></app-audio-player>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="utils-wrapper">
        <button
          mat-icon-button
          matTooltip="Open my session plan"
          aria-label="Button that handles opening of session plan"
          (click)="handleShowSessionPlanButtonClick()"
        >
          <mat-icon>note</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="User menu button"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="handleLogOut()" i18n="header logout">
            Log Out
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<ng-template #elseBlock>
  <mat-toolbar>
    <div class="header-content-wrapper">
      <button
        mat-icon-button
        aria-label="Main menu icon"
        (click)="handleMainMenuClick()"
      >
        <mat-icon name="mainMenuIcon">menu</mat-icon>
      </button>
      <div class="title-wrapper" [routerLink]="['/main/settings']">
        <span i18n="header title">GM Helper</span>
      </div>
      <div class="app-player-wrapper">
        <app-audio-player></app-audio-player>
      </div>
      <div class="utils-wrapper">
        <button
          mat-icon-button
          matTooltip="Open my session plan"
          aria-label="Button that handles opening of session plan"
          (click)="handleShowSessionPlanButtonClick()"
        >
          <mat-icon>note</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="User menu button"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="handleLogOut()" i18n="header logout">
            Log Out
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</ng-template>
