<div class="audio-container">
  <input
    type="file"
    id="sound-input"
    multiple
    accept="audio/*"
    style="display: none"
    (change)="handleUploadedAudio($event)"
  />
  <div class="songs-list" i18n>
    Currently playing:
    <div class="currently-playing-wrapper">
      <div class="animation-container">
        <div class="animation">
          <span *ngFor="let track of trackList">{{ track.name }} | </span>
        </div>
      </div>
    </div>
  </div>
  <div class="audio-controls">
    <app-group-player></app-group-player>
    <div class="list-buttons">
      <button
        mat-icon-button
        matTooltip="Add tracks to track list"
        aria-label="Icon to add song to track list"
        (click)="addTracksToTrackList()"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
      <button
        [matMenuTriggerFor]="menu"
        mat-icon-button
        matTooltip="Show track list"
        aria-label="Icon to show track list"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" class="audio-track-list">
        <app-audio-track-list></app-audio-track-list>
      </mat-menu>
    </div>
  </div>
</div>
