.audio-container {
  display: flex;
  flex-direction: column;
  height: 3rem;
  margin-right: 5rem;

  .audio-controls {
    display: flex;
    flex-direction: row;
  }

  .songs-list {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-left: 1.4rem;

    .currently-playing-wrapper {
      display: inline-block;
      height: 1.25rem;
      max-width: 12rem;
      overflow: hidden;

      .animation-container {
        display: inline-block;

        .animation {
          animation: animation 30s infinite;
          display: inline-block;
          position: relative;
        }
      }
    }
  }
}

@keyframes animation {
  0%,
  100% {
    left: 0;
  }

  50% {
    left: -100%;
  }
}

::ng-deep.audio-track-list {
  max-width: none !important;
}
