<h2 i18n>Can't open the Durin's Door ? 🚪</h2>
<form>
  <mat-form-field>
    <input
      [(ngModel)]="email"
      type="text"
      name="login"
      matInput
      placeholder="Email"
      autocomplete="off"
    />
  </mat-form-field>
</form>
<div class="buttons-block">
  <button
    mat-stroked-button
    (click)="recoverPassword()"
    [disabled]="isLoading"
    i18n
  >
    Reset password
  </button>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</div>
