<div class="audio-controls">
  <div class="play-buttons">
    <button
      *ngIf="isPaused"
      mat-icon-button
      matTooltip="Play"
      aria-label="Play icon to start the music"
      [class]="{ 'is-playing': isPaused }"
      (click)="startTrack()"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      *ngIf="isPlaying"
      mat-icon-button
      matTooltip="Pause"
      aria-label="Pause icon to stop the music"
      [class]="{ 'is-playing': isPlaying }"
      (click)="pauseTrack()"
    >
      <mat-icon>pause</mat-icon>
    </button>
  </div>
  <div class="volumeControl">
    <mat-slider
      min="0"
      max="10"
      step="1"
      [value]="volumeRating"
      [displayWith]="formatLabel"
      thumbLabel
      matTooltip="Change volume"
      (input)="handleVolumeChangeOnTrack($event)"
    ></mat-slider>
  </div>
  <div class="feature-buttons">
    <button
      *ngIf="repeatFeature"
      mat-icon-button
      matTooltip="Repeat"
      aria-label="Repeat icon to toggle repeat logic for current track"
      [class]="{ 'need-to-repeat': needToRepeat }"
      (click)="switchRepeatForTrack()"
    >
      <mat-icon>repeat</mat-icon>
    </button>
    <button
      *ngIf="deleteFeature"
      mat-icon-button
      matTooltip="Delete"
      aria-label="Delete icon to remove the track"
      (click)="deleteTrack()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
