@use '@angular/material' as mat;
@import 'theme';

.container {
  align-items: center;
  background-color: mat.get-color-from-palette($gm-helper-primary);
  display: flex;
  height: 100%;
  justify-content: center;
}
