<h1 mat-dialog-title i18n>Create New Campaign</h1>
<div mat-dialog-content>
  <p i18n>How your campaign will be called?</p>
  <mat-form-field>
    <mat-label i18n>Campaign Name</mat-label>
    <input matInput [(ngModel)]="data.name" autocomplete="off" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" i18n>Close</button>
  <button mat-button [mat-dialog-close]="data" i18n>Ok</button>
</div>
