<mat-list *ngIf="!isLoading; else elseLocationsBlock">
  <mat-list-item
    [routerLink]="['/main/location', location.id]"
    *ngFor="let location of locations"
  >
    <span class="location-name">{{ location.name }}</span>
    <button
      (click)="removeLocationFromList(location.id)"
      mat-icon-button
      aria-label="Remove npc from list button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<ng-template #elseLocationsBlock>
  <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
<div class="button-container">
  <button
    mat-stroked-button
    color="primary"
    (click)="openLocationDialog()"
    i18n
  >
    Add New Location
  </button>
</div>
