@import 'mixins';

.chapter-container {
  .chapter-name-wrapper {
    align-items: center;
    display: flex;

    .chapter-name-interactive {
      @include interactive-text;
      position: relative;

      h4 {
        margin-bottom: 0;
      }
    }
  }

  .icon-display {
    transform: scale(0.8);
  }

  .no-margin {
    margin: 0;
  }
}

.spinner-block {
  margin: 2rem 0;
}
