<div *ngIf="!isDataLoading; else elseBlock">
  <h1 i18n>Campaign: {{ campaign.name }}</h1>
  <div>
    <div
      class="chapter-container"
      *ngFor="let chapter of campaign.chapters; let index = index"
    >
      <div *ngIf="chapterIndexIsLoading !== index; else elseChapterBlock">
        <div class="chapter-name-wrapper">
          <h2 class="no-margin" i18n>
            Chapter {{ index + 1 }}: {{ chapter.name }}
          </h2>
          <button
            mat-icon-button
            aria-label="Edit button to edit a chapter"
            matTooltip="Edit chapter"
            (click)="openChapterEditor(index)"
            class="icon-display"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Icon button to delete a chapter"
            matTooltip="Delete chapter"
            (click)="removeChapter(index)"
            class="icon-display"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <app-chapter
          [chapter]="chapter"
          (updateChapter)="handleUpdateChapter($event, index)"
        ></app-chapter>
      </div>
      <ng-template #elseChapterBlock>
        <div class="spinner-block">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="spinner-block" *ngIf="newChapterIsLoading">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <button mat-stroked-button color="primary" (click)="openDialog()" i18n>
    Add new chapter
  </button>
</div>
<ng-template #elseBlock>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
