<div>
  <h2 i18n>My Settings</h2>
  <mat-list role="list" *ngIf="!isLoading; else elseBlock">
    <mat-list-item role="listitem" *ngFor="let setting of settings">
      <div
        [routerLink]="['/main/setting', setting.id]"
        class="setting-link-wrapper"
      >
        {{ setting.name }}
      </div>
      <button
        mat-icon-button
        aria-label="Remove existing setting button"
        matTooltip="Delete setting"
        (click)="removeSettingFromList(setting.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <ng-template #elseBlock>
    <div class="spinner-container">
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
  </ng-template>
</div>
<button mat-stroked-button color="primary" (click)="openDialog()" i18n>
  Add New Setting
</button>
