<div class="data-dialog-container" *ngIf="!isLoading; else elseBlock">
  <div *ngIf="locationInfo">
    <h1 mat-dialog-title>{{ locationInfo.name }}</h1>
    <span mat-dialog-content i18n>Type: {{ locationInfo.locationType }}</span>
    <h2 mat-dialog-title i18n>Description</h2>
    <p mat-dialog-content>{{ locationInfo.locationInfo }}</p>
    <h2 mat-dialog-title i18n>Detailed description</h2>
    <p mat-dialog-content [innerHTML]="locationInfo.detailedLocationInfo"></p>
  </div>
  <div *ngIf="npcInfo">
    <h1 mat-dialog-title>{{ npcInfo.name }}</h1>
    <img [src]="npcInfo.src" alt="npc portrait" />
    <h2 mat-dialog-title i18n>Description</h2>
    <p mat-dialog-content>{{ npcInfo.shortDescription }}</p>
    <h2 mat-dialog-title i18n>Detailed description</h2>
    <p mat-dialog-content [innerHTML]="npcInfo.description"></p>
  </div>
</div>
<ng-template #elseBlock>
  <div class="spinner-container">
    <mat-spinner [diameter]="25"></mat-spinner>
  </div>
</ng-template>
