<div *ngIf="map; else elseBlock">
  <h2>{{ map.name }}</h2>
  <app-map [interactive]="false" [inputMap]="map"></app-map>
</div>
<ng-template #elseBlock>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
