<mat-list *ngIf="!isLoading; else elseNpcsBlock">
  <mat-list-item *ngFor="let npc of npcs" [routerLink]="['/main/npc', npc.id]">
    <img matListAvatar [src]="npc.src" alt="NPC portrait thumbnail" />
    <span class="npc-name">{{ npc.name }}</span>
    <button
      (click)="removeNpcFromList(npc.id)"
      mat-icon-button
      aria-label="Remove npc from list button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<ng-template #elseNpcsBlock>
  <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
<div class="button-container">
  <button mat-stroked-button color="primary" (click)="openNpcDialog()" i18n>
    Add New NPC
  </button>
</div>
