@import 'mixins';

.main-container {
  height: 100%;

  .drawer {
    width: 20rem;

    .sidenav-link {
      @include interactive-text;
      // display: inline-block;
      position: relative;
    }

    .active {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    padding: 10vh 10vw;
  }
}
