<mat-sidenav-container class="main-container">
  <mat-sidenav
    mode="side"
    [opened]="isSidenavOpen"
    class="drawer"
    (clickOutside)="handleOutsideSidenavClick($event)"
    [exclude]="'mat-icon[name=mainMenuIcon], div[name=sidenavLink]'"
  >
    <mat-list role="list">
      <mat-list-item *ngFor="let sidenavLink of sidenavLinks" role="listitem">
        <div
          name="sidenavLink"
          [class]="{
            'sidenav-link': !sidenavLink.isActive,
            active: sidenavLink.isActive
          }"
          (click)="handleSidenavItemClick(sidenavLink.name)"
        >
          {{ sidenavLink.name | titlecase }}
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="body">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
