<h2 mat-dialog-title i18n>
  Here you can enter some notes for the upcoming session
</h2>
<div mat-dialog-content>
  <div *ngFor="let note of notes; let index = index">
    <div class="checkbox-wrapper">
      <mat-checkbox
        class="checkbox-margin"
        [checked]="note.isChecked"
        (change)="handleSelectionChange(index)"
      ></mat-checkbox>
      <div
        [class]="{ crossed: note.isChecked }"
        [innerHTML]="note.content"
      ></div>
    </div>
  </div>
  <app-quill
    *ngIf="noteEditorActive"
    [content]=""
    (dataEmit)="handleEditorEmit($event)"
  ></app-quill>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="addNewNote()" i18n>
    Add new note
  </button>
  <button mat-button (click)="onNoClick()" i18n>Close</button>
  <button mat-button [mat-dialog-close]="" i18n>Save</button>
</div>
