@use '@angular/material' as mat;
@import 'theme';

.map-editor-container {
  .hidden-file-input {
    display: none;
  }

  .toolbar-with-custom-height {
    height: 4.5rem;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .map-wrapper {
    border: 1px solid mat.get-color-from-palette($gm-helper-primary, 100);
    position: relative;

    .map-container {
      margin: 1rem;
      max-height: 40rem;
      overflow: auto;
      position: relative;

      .map-marker {
        position: absolute;
        transition: opacity ease-in-out 0.2s;
        z-index: 1;

        &:hover {
          cursor: pointer;
        }

        &::after {
          content: 'location_on';
          font-family: 'Material Icons';
        }

        .delete-marker {
          font-size: 1.5rem;
          height: 1.5rem;
          position: absolute;
          right: -1rem;
          top: -1rem;
          width: 1.5rem;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .map {
        img {
          transition: width 0.2s ease-in-out;
        }
      }
    }

    .zoom-controls {
      background-color: mat.get-color-from-palette($gm-helper-primary, 100);
      border-radius: 0.4rem;
      bottom: 2rem;
      display: flex;
      flex-direction: column;
      height: 8rem;
      justify-content: space-evenly;
      position: absolute;
      right: 2rem;
      width: 4rem;
    }
  }
}

.location-popup-container {
  max-height: 20rem;
  overflow: scroll;
  padding: 1rem;

  .short-info {
    color: mat.get-color-from-palette($gm-helper-primary);
    font-size: 1rem;
    font-style: italic;
  }
}

.location-area {
  color: rgb(55, 57, 151) !important;
}

.location-empire {
  color: #f4511e !important;
}

.location-kingdom {
  color: #ff8a65 !important;
}

.location-duchy {
  color: #f39b53 !important;
}

.location-barony {
  color: #fddd74 !important;
}

.location-capital {
  color: #b71c1c !important;
}

.location-city {
  color: #ff5722 !important;
}

.location-borough {
  color: #e040fb !important;
}

.location-building {
  color: #757575 !important;
}

.location-road {
  color: #3f51b5 !important;
}

.location-monument {
  color: #4bd3c3 !important;
}

.location-waterbody {
  color: #0277bd !important;
}

.location-forest {
  color: #48942a !important;
}

.location-elevation {
  color: #8d6e63 !important;
}

.location-default {
  color: black !important;
}
