<mat-card>
  <div class="map-editor-container">
    <input
      type="file"
      #file
      accept="image/png, image/jpeg"
      class="hidden-file-input"
      (change)="handleImageInput($event.target.files)"
    />
    <div class="map-toolbar-wrapper" *ngIf="interactive">
      <mat-toolbar class="toolbar-with-custom-height">
        <div class="map-toolbar-section">
          <div class="map-buttons-section">
            <button
              mat-icon-button
              matTooltip="Upload your map"
              (click)="file.click()"
            >
              <mat-icon>image</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Add location"
              [matMenuTriggerFor]="menu"
              [class]="'location-' + selectedMarker"
            >
              <mat-icon>location_on</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                *ngFor="let markerType of markerTypes | enumToArray"
                (click)="selectMarker(markerType)"
                i18n
              >
                <mat-icon [class]="'location-' + markerType"
                  >location_on</mat-icon
                >This indicates {{ markerType }}
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar>
    </div>
    <div class="map-wrapper">
      <div class="map-container" *ngIf="mapSrc">
        <div class="markers-container">
          <div
            [style]="marker.style"
            [class]="[
              'location-' + marker.locationData.locationType,
              'map-marker'
            ]"
            *ngFor="let marker of mapMarkers"
            [matTooltip]="marker.locationData.name"
            [matTooltipDisabled]="matTooltipDisabled"
            [matMenuTriggerFor]="markerPopup"
          >
            <div
              *ngIf="interactive"
              class="delete-marker"
              (click)="
                handleClickOnMap($event, eventTypes.MarkerRemoval, marker)
              "
              (mouseenter)="matTooltipDisabled = true"
              (mouseleave)="matTooltipDisabled = false"
              matTooltip="Remove marker"
            >
              <mat-icon [inline]="true">close</mat-icon>
            </div>
            <mat-menu #markerPopup="matMenu">
              <div
                class="location-popup-container"
                (click)="$event.stopPropagation()"
              >
                <h3>{{ marker.locationData.name }}</h3>
                <p class="short-info">{{ marker.locationData.locationInfo }}</p>
                <app-quill-view
                  [content]="marker.locationData.detailedLocationInfo"
                ></app-quill-view>
              </div>
            </mat-menu>
          </div>
        </div>
        <div #map class="map">
          <div class="test"></div>
          <img
            #img
            [src]="mapSrc"
            alt="Uploaded map image"
            (click)="handleClickOnMap($event, eventTypes.MarkerPlacement)"
          />
        </div>
      </div>
      <div class="zoom-controls mat-elevation-z2" *ngIf="mapSrc">
        <button
          mat-icon-button
          matTooltip="Zoom in"
          (click)="handleClickOnMap($event, eventTypes.ZoomIn)"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>
        <mat-divider></mat-divider>
        <button
          mat-icon-button
          matTooltip="Zoom out"
          (click)="handleClickOnMap($event, eventTypes.ZoomOut)"
        >
          <mat-icon>zoom_out</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
