<div *ngIf="location && !isLoading; else elseBlock">
  <div *ngIf="!locationEditorOpened">
    <div class="heading-wrapper">
      <h1 class="no-margin">{{ location.name }}</h1>
      <button
        mat-icon-button
        aria-label="Edit button to edit a location"
        matTooltip="Edit location"
        (click)="openLocationEditor()"
        class="icon-display"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <h2>{{ location.locationType }}</h2>
    <div class="location-short-info"></div>
    <app-quill-view [content]="location.detailedLocationInfo"></app-quill-view>
  </div>
  <div *ngIf="locationEditorOpened">
    <app-quill
      [content]="location.detailedLocationInfo"
      [npcEditorActive]="true"
      [locationEditorActive]="true"
      (dataEmit)="handleEditorEmit($event)"
    ></app-quill>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
