<mat-list *ngIf="!isLoading; else elseCampaignsBlock">
  <mat-list-item
    [routerLink]="['/main/campaign', campaign.id]"
    *ngFor="let campaign of campaigns"
  >
    <span class="campaign-name">{{ campaign.name }}</span>
    <button
      (click)="removeCampaignFromList(campaign.id)"
      mat-icon-button
      aria-label="Remove npc from list button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<ng-template #elseCampaignsBlock>
  <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
<div class="button-container">
  <button
    mat-stroked-button
    color="primary"
    (click)="openCampaignDialog()"
    i18n
  >
    Add New Campaign
  </button>
</div>
