<h1 mat-dialog-title i18n>Define new location</h1>
<div mat-dialog-content>
  <div class="creation-dialog-block">
    <p i18n>How this location is called?</p>
    <mat-form-field>
      <mat-label i18n>Location name</mat-label>
      <input
        matInput
        [(ngModel)]="data.name"
        placeholder="Gargan Tower"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div class="creation-dialog-block">
    <p i18n>Does this location have a parent location?</p>
    <mat-form-field>
      <mat-label i18n>Parent location</mat-label>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="handleChange($event.option)"
        [displayWith]="mapLocationDataToName"
      >
        <mat-option
          *ngFor="let location of locations$ | async"
          [value]="location"
        >
          {{ location.name }}
        </mat-option>
      </mat-autocomplete>
      <input
        placeholder="Choose parent location"
        aria-label="Location"
        matInput
        type="text"
        [matAutocomplete]="auto"
      />
    </mat-form-field>
  </div>
  <div class="creation-dialog-block">
    <p i18n>Short info about this location</p>
    <mat-form-field>
      <mat-label i18n>Short info</mat-label>
      <textarea
        matInput
        [(ngModel)]="data.locationInfo"
        placeholder="A long time ago here lived a vile sorcerer..."
      ></textarea>
    </mat-form-field>
  </div>
  <div class="creation-dialog-block">
    <p (click)="openDetailedLocationEditor()" class="interactive" i18n>
      Detailed location info
    </p>
    <div *ngIf="!detailedLocationEditorOpened">
      <div class="chapter-content">
        <div [innerHTML]="data.detailedLocationInfo"></div>
      </div>
    </div>
    <div *ngIf="detailedLocationEditorOpened">
      <app-quill
        [content]="data.detailedLocationInfo"
        [npcEditorActive]="true"
        (dataEmit)="handleEditorEmit($event)"
      ></app-quill>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" i18n>Close</button>
  <button mat-button [mat-dialog-close]="data" i18n>Ok</button>
</div>
