@import 'mixins';

.map-name {
  @include interactive-text;
  margin-left: 2rem;
  position: relative;
}

.map-thumbnail {
  flex-shrink: 0;
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.button-container {
  margin-top: 2rem;
}
