<mat-nav-list *ngIf="!isLoading; else elseMapsBlock">
  <mat-list-item *ngFor="let map of maps" [routerLink]="['/main/map', map.id]">
    <img class="map-thumbnail" [src]="map.src" alt="Map image" />
    <span class="map-name">
      {{ map.name }}
    </span>
    <button
      (click)="removeMapFromList(map.id)"
      mat-icon-button
      aria-label="Remove npc from list button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
<ng-template #elseMapsBlock>
  <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
<div class="button-container">
  <button mat-stroked-button color="primary" (click)="openMapDialog()" i18n>
    Add New Map
  </button>
</div>
