<div class="spinner-container" *ngIf="isLoading; else elseBlock">
  <mat-spinner></mat-spinner>
</div>
<ng-template #elseBlock>
  <router-outlet></router-outlet>
  <app-errors></app-errors>
</ng-template>
