<div *ngIf="!isLoading; else elseBlock">
  <h2 i18n>Setting: {{ setting.name }}</h2>

  <div class="content-block">
    <h3 i18n>Campaigns</h3>
    <app-campaign-list [settingId]="setting.id"></app-campaign-list>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="content-block">
    <h3 i18n>Maps</h3>
    <app-maps-list [settingId]="setting.id"></app-maps-list>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="content-block">
    <h3 i18n>Locations</h3>
    <app-locations-list [settingId]="setting.id"></app-locations-list>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="content-block">
    <h3 i18n>NPCs</h3>
    <app-npcs-list [settingId]="setting.id"></app-npcs-list>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
