@use '@angular/material' as mat;
@import 'theme';

.audio-controls {
  display: flex;
  flex-direction: row;

  .play-buttons {
    display: flex;
    flex-direction: row;

    .is-playing,
    .is-paused {
      color: mat.get-color-from-palette($gm-helper-accent);
    }
  }
}
