<div class="audio-controls">
  <div class="play-buttons">
    <button
      *ngIf="isPaused"
      [disabled]="!hasCheckedTracks"
      mat-icon-button
      matTooltip="Play"
      aria-label="Play icon to start the music"
      [class]="{ 'is-playing': isPaused && hasCheckedTracks }"
      (click)="startCheckedTracks()"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      *ngIf="isPlaying"
      [disabled]="!hasCheckedTracks"
      mat-icon-button
      matTooltip="Pause"
      aria-label="Pause icon to stop the music"
      [class]="{ 'is-playing': isPlaying && hasCheckedTracks }"
      (click)="pauseCheckedTracks()"
    >
      <mat-icon>pause</mat-icon>
    </button>
  </div>
  <div class="volumeControl">
    <mat-slider
      [disabled]="!hasCheckedTracks"
      min="0"
      max="10"
      step="1"
      [value]="volumeRating"
      thumbLabel
      matTooltip="Change volume"
      (input)="changeVolumeOnCheckedTracks($event)"
    ></mat-slider>
  </div>
  <div></div>
</div>
