.links-block {
  display: flex;
  flex-direction: column;
}

.buttons-block {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;

  .mat-spinner-container {
    margin-left: 1rem;
  }
}
