<h2 i18n>Welcome, Gamemaster 📚</h2>
<p i18n>Please, log in!</p>
<form>
  <mat-form-field>
    <input
      [(ngModel)]="email"
      type="text"
      name="login"
      matInput
      placeholder="Email"
      autocomplete="off"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      [(ngModel)]="password"
      type="password"
      name="password"
      matInput
      placeholder="Password"
    />
  </mat-form-field>
</form>
<div class="buttons-block">
  <button
    mat-stroked-button
    (click)="handleLogin()"
    [disabled]="isLoading"
    i18n
  >
    Log In
  </button>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</div>
<div class="links-block">
  <a [routerLink]="['/auth/forgot-password']" i18n>Forgor your password?</a>
  <a [routerLink]="['/auth/register']" i18n>Sign up</a>
</div>
