<div *ngIf="npc && !isLoading; else elseBlock">
  <div *ngIf="!npcEditorOpened">
    <div class="heading-wrapper">
      <h1 class="no-margin">
        {{ npc.name }}
      </h1>
      <button
        mat-icon-button
        aria-label="Edit button to edit an npc"
        matTooltip="Edit npc"
        (click)="openNpcEditor()"
        class="icon-display"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="npc-portrait">
      <img [src]="npc.src" alt="" />
    </div>
    <div class="npc-descriptions">
      <div class="npc-short-description">
        {{ npc.shortDescription }}
      </div>
      <div>
        <app-quill-view [content]="npc.description"></app-quill-view>
      </div>
    </div>
  </div>
  <div *ngIf="npcEditorOpened">
    <app-quill
      [content]="npc.description"
      [npcEditorActive]="true"
      [locationEditorActive]="true"
      (dataEmit)="handleEditorEmit($event)"
    ></app-quill>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
