.npc-portrait {
  img {
    max-width: 20rem;
  }
}

.heading-wrapper {
  align-items: center;
  display: flex;
}

.npc-short-description {
  font-size: 18px;
  font-style: italic;
  margin: 8px 0;
}

.no-margin {
  margin: 0;
}
