// For whatever reason angular's webpack configuration is unable to find _quill.scss without the leading underscore, therefore I've disabled stylelint check for this rule.
@use '@angular/material' as mat;

@import '_quill'; /* stylelint-disable-line scss/at-import-no-partial-leading-underscore */
@import 'theme';

@include mat.core();
@include mat.all-component-themes($gm-helper-theme);

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.leaflet-custom-marker {
  display: block;
  font-size: 4rem;
  height: 4rem;
  width: 4rem;

  &::after {
    content: 'location_on';
    font-family: 'Material Icons';
  }
}
