<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="emailFormGroup">
    <form [formGroup]="emailFormGroup">
      <ng-template matStepLabel i18n>Enter your email</ng-template>
      <mat-form-field>
        <mat-label i18n>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="frodo@shire.org"
          formControlName="email"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext i18n>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup">
    <form [formGroup]="passwordFormGroup">
      <ng-template matStepLabel i18n>Enter your password</ng-template>
      <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Something precious..."
          autocomplete="new-password"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious i18n>Back</button>
        <button mat-button matStepperNext i18n>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel i18n>Ready to go to the Mountain!</ng-template>
    <p><strong i18n>Is the following correct?</strong></p>
    <p i18n>Your email: {{ emailFormGroup.value.email }}</p>
    <p i18n>Your password: {{ passwordFormGroup.value.password }}</p>
    <div class="buttons-container">
      <button mat-button matStepperPrevious i18n>Back</button>
      <button mat-button (click)="registerNewUser()" i18n>Confirm</button>
      <div class="spinner-container">
        <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      </div>
    </div>
  </mat-step>
</mat-vertical-stepper>
