<h1 mat-dialog-title i18n>Create New NPC</h1>
<div mat-dialog-content>
  <div class="section">
    <p i18n>Your NPC's portrait</p>
    <div class="npc-portrait" (click)="file.click()">
      <div class="portrait-container">
        <img [src]="npcSrc" alt="NPC image" *ngIf="npcSrc; else elseBlock" />
        <ng-template #elseBlock>
          <mat-icon color="primary" class="npc-portrait-icon">add</mat-icon>
        </ng-template>
      </div>
    </div>
    <input
      type="file"
      #file
      accept="image/png, image/jpeg"
      class="hidden-file-input"
      (change)="handleNpcImageInput($event.target.files)"
    />
  </div>
  <div class="section">
    <p i18n>How your NPC will be called?</p>
    <mat-form-field>
      <mat-label>NPC Name</mat-label>
      <input matInput [(ngModel)]="data.name" autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="section">
    <p i18n>Describe your NPC in two-three words</p>
    <mat-form-field>
      <mat-label i18n>NPC Description</mat-label>
      <input matInput [(ngModel)]="data.shortDescription" autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="section">
    <p class="interactive" (click)="openNpcEditor()" i18n>
      Describe details of your NPC
    </p>
    <div *ngIf="!npcEditorOpened">
      <div class="chapter-content">
        <app-quill-view [content]="data.description"></app-quill-view>
      </div>
    </div>
    <div *ngIf="npcEditorOpened">
      <app-quill
        [content]="data.description"
        [npcEditorActive]="true"
        [locationEditorActive]="true"
        (dataEmit)="handleEditorEmit($event)"
      ></app-quill>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" i18n>Close</button>
    <button mat-button [mat-dialog-close]="data" i18n>Ok</button>
  </div>
</div>
