@use '@angular/material' as mat;
@import 'theme';
@import 'mixins';

.npc-portrait {
  border: 0.1rem solid mat.get-color-from-palette($gm-helper-primary);
  border-radius: 0.5rem;
  display: flex;
  height: 10rem;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  width: 10rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .portrait-container {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      height: auto;
      width: 100%;
    }
  }

  .npc-portrait-icon {
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
  }
}

.hidden-file-input {
  display: none;
}

.section {
  margin-bottom: 2rem;
}

.interactive {
  @include interactive-text;
}
