@mixin interactive-text {
  transition: opacity 0.2s ease-in-out;

  &::after {
    background: black;
    bottom: 0;
    content: '';
    display: block;
    height: 0.1rem;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;

    &::after {
      opacity: 0.7;
    }
  }
}
