@use '@angular/material' as mat;
@import 'theme';

.ql-editor {
  &:focus {
    outline: none;
  }

  blockquote {
    border-left: 0.7rem solid mat.get-color-from-palette($gm-helper-primary);
    padding-left: 2rem;
  }
}

.ql-clipboard {
  height: 1px;
  left: -100000px;
  overflow-y: hidden;
  position: absolute;
}

.npc-link,
.location-link {
  color: mat.get-color-from-palette($gm-helper-primary);
  text-decoration: underline;
}

.quill-view-content {
  blockquote {
    font-style: italic;
    margin-left: 0;
  }
}
