.group-tracks-editor {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  .group-checkbox-wrapper {
    margin-left: 1rem;
  }
}

.menu-track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  &.hoverable {
    transition: background ease-in-out 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: default;
    }
  }

  &.placeholder {
    margin-top: 0.5rem;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  .player-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;

    .checkbox {
      margin: 1rem 1.5rem 0 0;
    }
  }

  .additional-feature-buttons {
    display: flex;
    flex-direction: row;
  }
}
