<div *ngIf="trackList.length; else elseBlock" (click)="stopPropagation($event)">
  <div class="group-tracks-editor">
    <div class="group-checkbox-wrapper">
      <mat-checkbox
        [checked]="allTracksChecked"
        [indeterminate]="checkIfSomeTracksChecked()"
        (change)="checkUncheckAllTracks($event.checked)"
        matTooltip="Select all tracks for group operations"
      >
      </mat-checkbox>
    </div>
    <button
      mat-icon-button
      matTooltip="Delete all checked tracks"
      aria-label="Delete icon to remove checked tracks"
      (click)="deleteCheckedTracks()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div
    *ngFor="let track of trackList; let index = index"
    class="menu-track hoverable"
  >
    <span>{{ cutTrackName(track.name) }}</span>
    <div class="player-wrapper">
      <div class="checkbox">
        <mat-checkbox
          [checked]="track.checked"
          (change)="handleCheck(index)"
          matTooltip="Select this track for group play"
        ></mat-checkbox>
      </div>
      <app-player
        [repeatFeature]="true"
        [deleteFeature]="true"
        [trackIndex]="index"
      ></app-player>
    </div>
    <mat-divider
      *ngIf="trackList.length > 1 && index !== trackList.length - 1"
    ></mat-divider>
  </div>
</div>
<ng-template #elseBlock>
  <div class="menu-track placeholder" (click)="stopPropagation($event)">
    <span i18n>No audio records were added!</span>
  </div>
</ng-template>
