<div class="quill-wrapper">
  <div class="quill-toolbar-wrapper">
    <mat-toolbar class="toolbar-with-custom-height">
      <div class="quill-toolbar-section">
        <div class="quill-buttons-section">
          <button
            [class]="{ 'is-active': toolbarButtonsActiveState.bold }"
            mat-icon-button
            matTooltip="Bold"
            (click)="handleClickOnControl('bold')"
          >
            <mat-icon>format_bold</mat-icon>
          </button>
          <button
            [class]="{ 'is-active': toolbarButtonsActiveState.italic }"
            mat-icon-button
            matTooltip="Italic"
            (click)="handleClickOnControl('italic')"
          >
            <mat-icon>format_italic</mat-icon>
          </button>
          <button
            [class]="{ 'is-active': toolbarButtonsActiveState.underline }"
            mat-icon-button
            matTooltip="Underline"
            (click)="handleClickOnControl('underline')"
          >
            <mat-icon>format_underline</mat-icon>
          </button>
        </div>
        <button
          [class]="{ 'is-active': toolbarButtonsActiveState.blockquote }"
          mat-icon-button
          matTooltip="Blockquote"
          (click)="handleClickOnControl('blockquote')"
        >
          <mat-icon>format_quote</mat-icon>
        </button>
        <button
          [class]="{ 'is-active': toolbarButtonsActiveState.list }"
          mat-icon-button
          matTooltip="Unordered List"
          (click)="handleClickOnControl('list')"
        >
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button
          [class]="{ 'is-active': toolbarButtonsActiveState.size }"
          mat-icon-button
          matTooltip="Headers"
          [matMenuTriggerFor]="headers"
        >
          <mat-icon>format_size</mat-icon>
        </button>
        <mat-menu #headers="matMenu">
          <button mat-menu-item (click)="handleClickOnControl('size', '18px')">
            Header 1
          </button>
          <button mat-menu-item (click)="handleClickOnControl('size', '16px')">
            Header 2
          </button>
        </mat-menu>
        <div class="quill-buttons-section">
          <button
            *ngIf="npcEditorActive"
            mat-icon-button
            [matMenuTriggerFor]="npcMenu"
            [class]="{ 'is-active': toolbarButtonsActiveState.npc }"
          >
            <mat-icon>person_add</mat-icon>
          </button>
          <mat-menu #npcMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let npc of npcs$ | async"
              (click)="handleClickOnControl('npc', npc.id)"
            >
              {{ npc.name }}
            </button>
          </mat-menu>
          <button
            *ngIf="locationEditorActive"
            [class]="{ 'is-active': toolbarButtonsActiveState.location }"
            mat-icon-button
            [matMenuTriggerFor]="locationMenu"
            matTooltip="Add Location Link"
          >
            <mat-icon>add_location_alt</mat-icon>
          </button>
          <mat-menu #locationMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let location of locations$ | async"
              (click)="handleClickOnControl('location', location.id)"
            >
              {{ location.name }}
            </button>
          </mat-menu>
        </div>
      </div>
      <div *ngIf="!shouldSaveOnBlur" class="quill-toolbar-section">
        <button mat-raised-button color="accent" (click)="emitData()">
          Save
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div class="quill-content-wrapper" name="quill-content-wrapper"></div>
</div>
