// N.B. Styles for inner quill controls, blots etc. have to be injected in _quill.scss file, these are for angular scoped items
@use '@angular/material' as mat;

@import 'theme';

.quill-wrapper {
  .quill-toolbar-wrapper {
    position: sticky;
    top: 10px;

    .toolbar-with-custom-height {
      height: 4.5rem;
      justify-content: space-between;

      .quill-toolbar-section {
        display: flex;

        .quill-buttons-section {
          margin-right: 2.5rem;
        }
      }

      .is-active {
        color: mat.get-color-from-palette($gm-helper-accent);
      }
    }
  }

  .quill-content-wrapper {
    margin-top: 1rem;
  }
}
